<form [formGroup]="form">
	<div class="field">
		<div class="control">
			<input class="input" formControlName="name" placeholder="Name">
    </div>
  </div>
  <div class="field">
    <div class="control" controlErrorContainer>
      <label class="checkbox">
      <input type="checkbox" formControlName="terms" [customErrors]="customErrors">
      I agree to the <a href="#">terms and conditions</a>
      </label>
    </div>
  </div>
  <div formGroupName="address" class="field">
    <div class="field">
      <div class="control">
        <input class="input" formControlName="city" placeholder="City">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input" formControlName="country" placeholder="Country">
      </div>
    </div>
  </div>
  <div formArrayName="phoneNumbers">
    <h3>Phone numbers</h3>
    <div *ngFor="let phoneControl of phoneNumberControl.controls; let i=index;">
      <div class="field">
      <div class="control">
        <input class="input" name="phoneNumber[{{phoneId}}]" [formControlName]="i" placeholder="Phone number {{i+1}}">
         <button type="button" class="button" (click)="remove(i)">remove</button>
      </div>
    </div>
    </div>
    <button type="button"  class="button" (click)="add()">Add phone number</button>
  </div>
  <div class="control">
    <button class="button is-link is-small">Submit</button>
  </div>
</form>
